.main-login {
    background-color: green;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.logo {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-top: 80px;
}

.welcome {
    font-size: 28px;
    margin-top: 50px;
}

.main-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    width: 500px;
}

.input-login,.input-password {
    margin-top: 20px;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    border: 1px solid gray;
    width: 80%;
}

.btn-login {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: green;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.btn-login:disabled {
    background-color: lightgreen;
    cursor: not-allowed;
}

.wallet-div {
    background-color: rgb(151, 184, 151);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }